{% extends "base.html" %}

<head>
    {% block title %} Experiências - AboutUs {% endblock %}
</head>
<body>
{% block body %}
    <br>

    <div class="container w-50 text-justify">

        <h2>Bem-vindo ao COVID-19 Experiências!</h2>
        <br>
        <h4>Qual o objetivo?</h4>
        <p>Face à situação complicada que estamos a viver, surge a necessidade de criar pontes de contacto,
            tentando contrariar o isolamento social que toda esta pandemia impôs. Assim sendo, o objetivo principal
            deste projeto é a partilha de experiências dos vários utilizadores - sejam estas preocupações, alegrias
            ou estratégias de coping – procurando uma entreajuda comunitária informal.</p>

        <hr>

        <h4>Como interagir?</h4>
        <p>Estas partilhas deverão ser feitas através da
            <strong><span data-toggle="tooltip" data-placement="top"
                          title="Opção Contar Experiência na página Index">
                            publicação de posts</span></strong>,
            os quais poderão ser comentados pelos demais utilizadores. Os posts deverão estar dentro da temática da
            pandemia e o consequente confinamento, e os
            <strong><span data-toggle="tooltip" data-placement="top"
                          title="Dentro de cada Post, existe uma caixa de texto que permite que os utilizadores registados partilhem as suas opiniões">
                            comentários</span></strong>
            devem ser objetivos e estar dentro do tema proposto. Caso goste de um post, pode dar um
            <strong><span data-toggle="tooltip" data-placement="top"
                          title="Dentro de cada Post, existe a possibilidade de votar. O user apenas poderá votar uma vez em cada Publicação">
                            voto</span></strong> positivo!</p>

        <p>A página inicial poderá ser
            <strong><span data-toggle="tooltip" data-placement="top"
                          title="Na página Index, através do botão Ordenar Posts">
                            organizada de duas formas:</span></strong>
            ou em função da data de publicação dos posts, ou em função dos votos positivos. Esta página inicial
            apenas mostrará 24 publicações, procurando que os utilizadores se foquem nos temas mais atuais ou com
            maior feedback, de forma potenciar as interações e trocas de ideias. Caso deseje, poderá sempre
            <strong><span data-toggle="tooltip" data-placement="top"
                          title="Na página Index, através do botão Mostrar Tudo">
                            descobrir a totalidade</span></strong>
            dos posts, organizados por data.</p>

        <hr>

        <h4>Quais as regras?</h4>
        <p>Visto que o objetivo primordial deste projeto é a promoção de interações, não existem regras muito rígidas,
            contudo, é importante referir a importância da etiqueta social: </p>
        <ul>
            <li>Os utilizadores deverão evitar partilhas fora da temática;</li>
            <li>Os utilizadores deverão ser cordeais e educados nas respostas. Caso não gostem do conteúdo,
                podem sempre votar negativamente no post em questão;</li>
            <li>Partilhas que promovam teorias da conspiração ou um comportamento que vá contra as instruções
                da DGS serão eliminadas;</li>
        </ul>

        <p>Lembrem-se que um simples comentário poderá ser uma grande ajuda para quem está numa fase mais difícil,
            sejam respeitosos e tentem tirar o melhor partido deste projeto.</p>
        <br>
    </div>
{% endblock %}
</body>
</html>