{% extends "base.html" %}

<!DOCTYPE html>
<html lang="pt">
<meta charset="UTF-8">
<head>

    <title>
        {% block title %} Editar Experiência {% endblock %}
    </title>

</head>
<body>
{% block body %}
    <br>
    <div class="container d-flex justify-content-center">
        <div class="col">
            <div class="d-flex justify-content-center">
                <h2>Edit a sua experiência</h2>
            </div>
            <hr>
            <form action="{% url 'experiencias:editLogicPost' user_post.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>Título</label>
                    <input type="text" class="form-control" name="title" id="title" value="{{ user_post.title }}" required="true">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Descrição</label>
                    <textarea class="form-control" name="text" id="text" rows="3" required="true">{{ user_post.text }}</textarea>
                </div>
                <div class="form-group">
                    <label>Imagem</label>
                    <input type="text" class="form-control" name="img" id="img" value="{{ user_post.img }}">
                </div>
                <br>
                <div class="d-flex justify-content-end">
                    <input type="submit" class="btn btn-exp" value="Publicar" >
                </div>
            </form>
        </div>
    </div>
{% endblock %}
</body>
</html>

