{% extends "base.html" %}

<!DOCTYPE html>
<html lang="pt">
<meta charset="UTF-8">
<head>

    <title>
        {% block title %} {{ user_post.title }} {% endblock %}
    </title>

</head>
<body>
{% block body %}
    <div class="container d-flex justify-content-center">
    <div class="col-md-9">
    <div class="post-maximized ">
        <div class="d-flex justify-content-center">
            <img class="img-responsive " src="{{ user_post.img }}">
        </div>
        <br>
        <div class="caption-full">
            <div class="d-flex justify-content-between">

                <h4 class="w-75"><strong>{{ user_post.title }}</strong></h4>
                <div class="d-flex justify-content-between">
                    <strong id="display-votos"><em>{{ user_post.score }}
                        {% if user_post.score == 1 %}
                            voto
                        {% else %}
                            votos
                        {% endif %}
                    </em></strong>

                    {% if user.is_authenticated %}

                        <form action="{% url 'experiencias:vote' user_post.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-outline-success" type="submit" name="action" value="upvote"
                                    style="
                                            {% if user_vote.vote_score == 1 %}
                                                background-color:    #77DF79
                                            {% endif %}
                                            "><i class="far fa-thumbs-up"></i></button>
                            <button class="btn btn-outline-danger" type="submit" name="action" value="downvote"
                                    style="
                                            {% if user_vote.vote_score == -1 %}
                                                background-color:    #ff6961
                                            {% endif %}
                                            "><i class="far fa-thumbs-down"></i></button>
                        </form>

                    {% endif %}

                </div>
            </div>
            <p class="text-justify" style="padding-top: 10px;">{{ user_post.text }}</p>
            <p class="d-flex justify-content-end">
                <em><a class="profile-link"
                       href="{% url 'experiencias:userprofile' post_author.id %}">{{ post_author.username }}</a>
                    | {{ user_post.pub_data }}</em>
            </p>
            <div class="d-flex justify-content-end ">
                {% if user.is_superuser or user.username == user_post.user_name %}
                    <form class="d-flex justify-content-end">
                        <a type="button" class="btn btn-danger" id="apagarpost" style=""
                           href="{% url 'experiencias:deletepost' user_post.id %}"><i class="fas fa-trash-alt"></i></a>
                        <a type="button" class="btn btn-warning" style="margin-left: 3px;"
                           href="{% url 'experiencias:editpost' user_post.id %}"><i class="fas fa-edit"></i></a>
                    </form>
                {% endif %}
                <div>
                </div>
            </div>
            <br>
            <div>
                <h4>Comentários</h4>
                <br>
                {% if user.is_authenticated %}
                    <div>
                        <form action="{% url 'experiencias:createcomment' user_post.id %}" method="post">
                            {% csrf_token %}
                            <textarea class="form-control" name="comment_text" id="comment_text" rows="3"
                                      required="true"></textarea>
                            <br>
                            <div class="d-flex justify-content-end">
                                <input type="submit" class="btn btn-exp" value="Comentar">
                            </div>
                        </form>
                    </div>
                    <hr>
                {% endif %}
                <div>
                    {% for comment in user_post.usercomment_set.all reversed %}
                        {% if comment.parent_comment_id is -1 %}
                            <div class="comment" id="comentario{{ comment.id }}">
                                <p class="d-flex justify-content-end">
                                    <em style="padding-right: 10px; color: gray"><a class="profile-link"
                                                                                    href="{% url 'experiencias:userprofile' comment.author_id %}">{{ comment.user_name }}</a>
                                        | {{ comment.pub_data }}</em>
                                </p>
                                <p class="text-justify"
                                   style="margin-top: -10px; margin-bottom: -20px; white-space: pre-line;">{{ comment.text }}
                                <p>


                                <div class="d-flex justify-content-end"
                                     style="padding-top: 20px;">
                                    {% if user.is_authenticated %}
                                        <form>
                                            <a type="button" class="btn btn-exp btn-sm"
                                               href="{% url 'experiencias:reply' comment.id %}"><i
                                                    class="fas fa-reply"></i></a>
                                        </form>
                                    {% endif %}
                                    {% if user.is_superuser or user.username == comment.user_name %}
                                        <form style="margin-left: 5px;"
                                              action="{% url 'experiencias:deletecomment' comment.id %}" method="post">
                                            {% csrf_token %}
                                            <button class="btn btn-sm btn-danger"><i
                                                    class="fas fa-trash-alt"></i></button>
                                        </form>
                                    {% endif %}
                                </div>
                                {% for comment_reply in user_post.usercomment_set.all %}
                                    {% if comment_reply.parent_comment_id is comment.id %}
                                        <hr style="color: rgba(0,0,0,0.54); margin-left: 30px">
                                        <p class="d-flex justify-content-end">
                                            <em style="padding-right: 10px; padding-bottom: 20px; color: gray"><a
                                                    class="profile-link"
                                                    href="{% url 'experiencias:userprofile' comment_reply.author_id %}">{{ comment_reply.user_name }}</a>
                                                | Em resposta a <a class="profile-link"
                                                                   href="{% url 'experiencias:userprofile' comment_reply.author_id %}">{{ comment_reply.reply_to }}</a>
                                                | {{ comment_reply.pub_data }}
                                            </em>
                                        </p>
                                        <p class="text-justify"
                                           style="margin-top: -30px; margin-bottom: -20px; margin-left: 40px; color: dimgray; font-size: 14.5px;">
                                        {{ comment_reply.text }}<p>
                                        <div class="d-flex justify-content-end"
                                             style="padding-top: 20px;">
                                            {% if user.is_authenticated %}
                                                <form>
                                                    <a type="button" class="btn btn-exp btn-xs"
                                                       href="{% url 'experiencias:reply' comment_reply.id %}"><i
                                                            class="fas fa-reply"></i></a>
                                                </form>
                                            {% endif %}
                                            {% if user.is_superuser or user.username == comment_reply.user_name %}
                                                <form style="margin-left: 5px;"
                                                      action="{% url 'experiencias:deletecomment' comment_reply.id %}"
                                                      method="post">
                                                    {% csrf_token %}
                                                    <button class="btn btn-danger btn-xs"><i
                                                            class="fas fa-trash-alt"></i></button>
                                                </form>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>