head {
    color: white;
}

body {
    background-color: #f4eeff;
    font-family: Lato;
}

.comment {
    background-color: rgba(160, 160, 160, 0.1);
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.navbar {
    background-color: #A6B1E1;
    color: white;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: #6b7cc8;
    text-decoration: none;
}

.thumbnail {
    padding: 0;
}

.thumbnail img {
    width: 100%;
    object-fit: cover;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.post-card .btn {
    font-size: 24px;
}

.caption a {
    color: dimgrey;
}

.caption a:hover {
    color: darkgrey;
    text-decoration: none;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.post-maximized {
    padding-top: 20px;
}

.img-responsive {
    max-width: 1000px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.caption-full {
    padding-top: 20px;
}

.btn-exp {
    background-color: #A6B1E1;
    color: white;
}

.btn-xs {
  padding: .25rem .4rem;
  font-size: .675rem;
  line-height: .5;
  border-radius: .2rem;
}

.btn-exp:hover {
    color: #6b7cc8;
    text-decoration: none;
}

.editar {
    margin-left: 10px;
}

#selected_type {
    background: #A6B1E1;
    border-style: none;
    height: 38px;
}

#showAll {
    text-decoration: none;
}

#showAll {
    background-color: #A6B1E1;
    border: none;
    margin-left: 15px;
    height: 38px;
}

#logoutButton {
    padding: 0px;
    margin: 0px;
}

.page-link {
    margin-right: 5px;
    margin-left: 5px;
    background-color: #DDDDDD;
    color: white;
}

.page-link {
    background-color: #A6B1E1;
}